{% extends 'layouts/base.html' %}

{% block title %}Login - Sistema de Férias{% endblock %}

{% block content %}      
  <div class="col-xl-3 col-lg-4 col-md-5 col-sm-7 col-8 m-auto p-2">

    <!-- formulário -->
    <form action="{{ url_for('auth.login') }}" method="post">
      {{ form.csrf_token }}
      <img class="mb-4" src="https://www.9bdainfmtz.eb.mil.br/images/headers/logo.png" alt="" width="72" height="auto">
      <h1 class="h3 mb-3 fw-normal">Sistema de Férias</h1>

      <!-- organzacão -->
      {{ form.fg_organization_id(class="form-control mb-1", _name="fg_organization_id", id="fg_organization_id", placeholder="OM") }}

      <!-- username -->
      <div class="form-floating">
        {{ form.username(class="form-control text-uppercase", _name="username", id="username", placeholder="Usuário") }}
        <label for="username">Usuário</label>
      </div>

      <!-- password -->
      <div class="form-floating">
        {{ form.password(class="form-control", _name="password", id="floatingPassword", placeholder="Senha") }}
        <label for="password">Senha</label>
      </div>

      <!-- remember-me -->
      <div class="form-check mb-5 mt-4 justify-content-between hstack">
        <div>
        {{ form.remember_me(class="form-check-input",id="flexCheckDefault", type="checkbox") }}
        <label class="form-check-label" for="flexCheckDefault">Lembre-se de mim</label>
        </div>

        <a href="{{ url_for('reset.recuperar_senha') }}" class=" btn btn-sm btn-outline-secondary ">Esqueceu sua senha? </a>
      </div>


      <!-- submit -->
      <div class="d-flex justify-content-center mb-4">
        <button type="submit" class="btn btn-primary btn-lg w-md-50 w-75">Entrar</button>
      </div>
      
        
    </form>

  </div> 
{% endblock %}