{% extends 'layouts/base.html' %}

{% block title %}Login - Sistema de Férias{% endblock %}

{% block content %}      
  <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8 col-12 m-auto p-2 align-content-center my-2 bg-white rounded-3 shadow px-3 pt-3">

    <!-- formulário -->
    <form action="{{ url_for('auth.login') }}" method="post">
      {{ form.csrf_token }}
      <img src="{{ url_for('static', filename='src/logo.png') }}" alt="logo 9ª bda" width="60">
      <h1 class="h1 fw-bold">SiCaFEx</h1>
      <p class="mb-3" > Sistema de Cadastro de Férias do Exército</p>

      <!-- username -->
      <div class="form-floating mb-1">
        {{ form.military_id(class="form-control", _name="military_id", id="military_id", placeholder="") }}
        <label for="username">Id militar, email ou telefone</label>
      </div>

      <!-- password -->
      <div class="form-floating">
        {{ form.password(class="form-control", _name="password", id="floatingPassword", placeholder="Senha") }}
        <label for="password">Senha</label>
      </div>

      <!-- remember-me -->
      <div class="form-check mb-3 mt-4 justify-content-between hstack">
        <div>
        {{ form.remember_me(class="form-check-input",id="flexCheckDefault", type="checkbox") }}
        <label class="form-check-label" for="flexCheckDefault">Lembre-se de mim</label>
        </div>

        <a href="{{ url_for('reset.recuperar_senha') }}" class=" btn btn-sm btn-outline-secondary ">Esqueceu sua senha? </a>
      </div>


      <!-- submit -->
      <div class="d-flex justify-content-center mb-4">
        <button type="submit" class="btn btn-primary btn-lg w-md-50 w-75 mt-3">Entrar</button>
      </div>
      
      <p class="text-center">Não possui um acesso? <a href="{{ url_for('auth.register') }}" class="text-primary text-decoration-none">Criar Conta</a>.</p>
        
    </form>

  </div> 
{% endblock %}