{% extends 'layouts/base.html' %}

{% block content %}      
  <main class="form-signin w-100 m-auto">

    <!-- formulário -->
    <form action="{{ url_for('auth.login') }}" method="post">
      {{ form.csrf_token }}
      <img class="mb-4" src="https://www.9bdainfmtz.eb.mil.br/images/headers/logo.png" alt="" width="72" height="auto">
      <h1 class="h3 mb-3 fw-normal">Sistema de Férias</h1>

      <!-- username -->
      <div class="form-floating">
        {{ form.username(class="form-control", _name="username", id="username", placeholder="Usuário") }}
        <label for="username">{{ form.username.label }}:</label>
        {% if form.username.errors %}
          <div class="alert alert-danger" role="alert">
            <ul>
              {% for error in form.username.errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      </div>

      <!-- password -->
      <div class="form-floating">
        {{ form.password(class="form-control", _name="password", id="floatingPassword", placeholder="Senha") }}
        <label for="password">{{ form.password.label }}:</label>
        {% if form.password.errors %}
          <div class="alert alert-danger" role="alert">
            <ul>
              {% for error in form.password.errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      </div>
      
      <!-- remember-me -->
      <div class="form-check text-start my-3">
        <label class="form-check-label" for="flexCheckDefault">
          {{ form.remember_me(class="form-check-input",id="flexCheckDefault", type="checkbox") }} Remember me
        </label>
      </div>

      <!-- submit -->
      </div class="form-floating">
      {{ form.submit(class="btn btn-primary w-100 py-2") }}
      </div>
        
    </form>

  </main> 
</body>

{% endblock %}