{% extends 'layouts/base.html' %}

{% block title %}Painel{% endblock %}

{% block content %}    
<!-- ================================================================================= -->

<div class="container">
  <h2>Registros de Férias</h2>
  <table class="table table-striped table-hover table-bordered align-middle">
    <thead class="table-dark text-center">
      <tr>
        <th scope="col">Data do Registro</th>
        <th scope="col">Posto/Grad</th>
        <th scope="col">Usuário</th>
        <th scope="col">Dias</th>
        <th scope="col">Início</th>
        <th scope="col">Fim</th>
        <th scope="col">Retorno</th>
        <th scope="col">Situação</th>
        <th scope="col">Ação</th>
      </tr>
    </thead>
    <tbody>
      {% for ferias in registros %}
        <!-- Exibe o botão de deletar para todos, exceto o usuário logado -->
        <tr class="text-center">
          <td class="table-active" >{{ ferias.data_registro }}</td>

          <td>{{ ferias.user.patente.posto if ferias.user else "<span class='text-danger'>Desatrelado</span>" | safe }}</td>
          <td>{{ ferias.user.patente.nome_guerra if ferias.user else "<span class='text-danger'>Desatrelado</span>" | safe }}</td>

          <td>{{ ferias.dias }}</td>
          <td>{{ ferias.data_inicio }}</td>
          <td>{{ ferias.data_fim }}</td>
          <td>{{ ferias.data_retorno }}</td>
          {% if ferias.state.id == 1 %}
          <td class="bg-secondary">{{ ferias.state.desc }}</td>
          {% elif ferias.state.id == 2 %}
          <td class="bg-primary">{{ ferias.state.desc }}</td>
          {% elif ferias.state.id == 3 %}
          <td class="bg-danger">{{ ferias.state.desc }}</td>
          {% elif ferias.state.id == 4 %}
          <td class="bg-success">{{ ferias.state.desc }}</td>
          {% elif ferias.state.id == 5 %}
          <td class="bg-warning">{{ ferias.state.desc }}</td>
          {% elif ferias.state.id == 6 %}
          <td class="bg-secondary">{{ ferias.state.desc }}</td>
          {% endif %}
          <td>
            <div class="hstak">
              {% if ferias.state.id == 1 %}
              <a href="{{ url_for('user.aprove_regs',registro_id=ferias.id) }}" class="btn btn-success" ><i class="bi bi-hand-thumbs-up-fill"></i> Aprovar</a>
              <a href="{{ url_for('user.reprove_regs',registro_id=ferias.id) }}" class="btn btn-danger"><i class="bi bi-hand-thumbs-down-fill"></i> Reprovar</a>
              {% endif %}
            </div>
          </td>
        </tr>          
      {% endfor %}
    </tbody>
  </table>
</div>

<!-- ================================================================================= -->
{% endblock %}
