{% extends 'base.html' %}
{% block head %}
    <link href="{{ url_for('static', filename = 'css/sign-in.css')}}" rel="stylesheet" >
{% endblock %}

{% block content %}
  <main class="form-signin m-auto" >

    <!-- formulário -->
    <form action="{{ url_for('register') }}" method="post">
      {{ form.csrf_token }}
      <h1 class="h3 mb-3 fw-normal">Registrar Usuário</h1>

      <!-- username -->
      <div class="form-floating">
        {{ form.username(class="form-control", _name="username", id="username", placeholder="Usuário") }}
        <label for="username">{{ form.username.label }}:</label>
        {% if form.username.errors %}
          <div class="alert alert-danger" role="alert">
            <ul>
              {% for error in form.username.errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      </div>

      <!-- password -->
      <div class="form-floating">
        {{ form.password(class="form-control", _name="password", id="floatingPassword", placeholder="Senha") }}
        <label for="password">{{ form.password.label }}:</label>
        {% if form.password.errors %}
          <div class="alert alert-danger" role="alert">
            <ul>
              {% for error in form.password.errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      </div>

      <!-- submit -->
      </div class="form-floating">
      {{ form.submit(class="btn btn-primary w-100 py-2") }}
      </div>

      <p class="mt-5 mb-3 text-body-secondary">&copy; 2025 - Nathan da Cruz Cardoso</p>
    </form>
  </main> 
</body>

{% endblock %}